{% load staticfiles %}
<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a href="{% url 'home' %}" class="navbar-brand url color-white">AgesProt v1.0</a>
</div>
<ul class="nav navbar-top-links navbar-right">
	<li class="dropdown">
		<a class="dropdown-toggle color-white" data-toggle="dropdown" href="#" aria-expanded="false">
			<img src="{% static user.profileuser.get_foto %}" class="img-responsive img-rounded" style="width: 20px; display: inline-block;"> {{ user.first_name }} <i class="fa fa-caret-down"></i>
		</a>
		<ul class="dropdown-menu dropdown-user">
			<li>
				<a href="{% url 'profile' %}" class="url"><i class="fa fa-user fa-fw"></i> Mi perfil</a>
			</li>
			<li>
				<a href="{% url 'logout' %}" class="url"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
			</li>
		</ul>
	</li>
</ul>