amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.6
django-celery==3.1.17
django-mail-templated==2.6.2
gunicorn==19.5.0
kombu==3.0.35
Pillow==2.8.0
psycopg2==2.6.1
pytz==2016.6.1
six==1.10.0
