{% extends 'layout/base.html' %}

{% block content %}
	<div id="wrapper">
		{% include 'elements/menu_top.html' %}
		<div id="page-wrapper">
			<div class="row">
				<div class="content-head">
					<h1>Mis notificaciones</h1>
				</div>
				<div class="col-lg-12">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 content">
					<div id="content-data"></div>
					<div class="col-md-12 text-center">
						<a href="#" class="btn btn-primary load">Cargar más</a>
					</div>
					<div id="loading_animation"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block content_script %}
	var paginate = 1;
	show_loading('loading_animation');
	request_ajax();
	function request_ajax(){
		console.log(paginate)
		$.ajax({
			url: "/notification/data-paginate/",
			dataType: "json",
			data: {
				page: paginate
			},
			type: 'GET',
			success: function(response){
				var response_convert = []
				$('#loading').remove();
				$.each(response, function (key, item) {
					$('#content-data').append(
						'<p>'+
							'<i class="fa '+item.icon+' fa-fw circle-fa"></i>  '+item.titulo_notificacion+
							'  <small>'+item.fecha_notificacion+'</small>'+
						'</p>'
					);
				});
			}
		});
	}
	$(document).on("click", ".load", function(){
		paginate++;
		request_ajax();
		return false;
	});
{% endblock %}