{% extends 'layout/base.html' %}

{% load staticfiles %}

{% block content %}
	<div id="wrapper">
		{% include 'elements/menu_top.html' %}
		<div id="page-wrapper">
			<div class="row">
				<div class="content-head">
					<h1>{{ title }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<img src="{% static user.profileuser.get_foto %}" class="img-responsive img-rounded">
				</div>
				<div class="col-md-9 content">
					<div class="col-md-12">
						<h2>{{ user.first_name }} {{ user.last_name }}</h2>
						<p><strong>Email:</strong> {{ user.email }}</p>
					</div>
					<div class="col-md-4 text-center">
						<h3>5</h3>
						<p>Proyectos en curso</p>
					</div>
					<div class="col-md-4 text-center">
						<h3>10</h3>
						<p>Proyectos terminados</p>
					</div>
					<div class="col-md-4 text-center">
						<h3>15</h3>
						<p>Proyectos en total</p>
					</div>
					<div class="text-center">
						<a href="{% url 'update_user' user.pk %}?next=profile" class="btn btn-success open-modal" data-toggle="modal" data-target="#Modal">Actualizar mis datos</a>
						<a href="{% url 'change_password' %}" class="btn btn-primary open-modal" data-toggle="modal" data-target="#Modal">Cambiar contraseña</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}