{% extends 'layout/base.html' %}

{% load static %}

{% load project_filters %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
	<script src="{% static 'js/chosen.js' %}"></script>
	<script src="{% static 'js/list.min.js' %}"></script>
	<script src="{% static 'js/list.pagination.min.js' %}"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock content_head %}

{% block content %}
	<div id="wrapper">
		{% include 'elements/menu_project.html' %}
		<div id="page-wrapper">
			<div class="row">
				<div class="content-head">
					<h1>{{ title }}</h1>
				</div>
			</div>
			{% for message in messages %}
				<div class="row">
					<div class="alert alert-{{ message.tags }} col-md-4 col-md-offset-4">{{ message }}</div>
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-md-8">
					<div class="col-md-12 content">
						<h2>{{ object.nombre_actividad }}</h2>
						<p><i class="glyphicon glyphicon-calendar"></i> <b>Fecha entrega: </b>{{ object.fecha_entrega }}</p>
						<p>{{ object.descripcion_actividad }}</p>
						<h3>Gráfico Gantt de la actividad</h3>
						<div id="chart_activity"></div>
					</div>
					<div class="col-md-12">
						<h1 class="text-center">
							Tareas de la actividad
							{% if request.user.pk|verify_user_activity:object.pk and object.estado.nombre_estado == 'Activo' %}
								<a href="{% url 'add_task_activity' project.pk project.tag_url object.pk %}" class="btn btn-default open-modal" data-toggle="modal" data-target="#Modal" style="float: right;"><i class="glyphicon glyphicon-plus"></i> | Crear tarea</a>
							{% endif %}
						</h1>
						<div class="row" id="task-list">
							<div class="form-group col-md-6 col-md-offset-3">
								<input type="text" class="search form-control" placeholder="Digite el nombre de la actividad a buscar">
							</div>
							<div class="list">
							{% for task in object.tarea_set.all %}
								<div class="col-md-6" id="object-{{ task.pk }}">
									<div class="thumbnail">
										<div class="state text-center" style="background-color: {{ task.prioridad.color_prioridad }};">
											<p><b>Prioridad: </b>{{ task.prioridad.nombre_prioridad }}</p>
										</div>
										<div class="caption">
											<h3 class="name">{{ task.nombre_tarea }}</h3>
											<p>{{ task.descripcion_tarea }}</p>
											<p><i class="glyphicon glyphicon-calendar"></i> <b>Fecha entrega: </b>{{ task.fecha_entrega }}</p>
											<p><i class="glyphicon glyphicon-user"></i> <b>Creado por: </b>{{ task.usuario.profileuser.get_full_name }}</p>
											<p id="s_task-{{ task.pk }}">
												<i class="glyphicon glyphicon-certificate"></i>
												<b>Estado: </b>
												{% if task.estado.nombre_estado == 'Proceso' %}
													<a href="{% url 'change_state_task' project.pk project.tag_url object.pk task.pk 0 %}" class="change task-{{ task.pk }}" id="{{ task.pk }}">
														<span class="label label-primary">{{ task.estado }}</span>
													</a>
												{% else %}
													<span class="label label-primary">{{ task.estado }}</span>
												{% endif %}
											</p>
											{% if task.estado.nombre_estado == 'Proceso' or request.user.pk|verify_admin_project:project.pk %}
												<a href="{% url 'detail_task' project.pk project.tag_url object.pk task.pk %}" class="btn btn-primary">Seleccionar</a>
											{% endif %}
											{% if request.user.pk|verify_admin_project:project.pk and task.estado.nombre_estado == 'Proceso' %}
												<a href="{% url 'update_task' project.pk project.tag_url object.pk task.pk %}" class="btn btn-success open-modal" data-toggle="modal" data-target="#Modal">Editar</a>
												<a href="{% url 'delete_task' project.pk project.tag_url object.pk task.pk %}" id="{{ task.pk }}" class="btn btn-danger delete">Eliminar</a>
											{% endif %}
										</div>
									</div>
								</div>
							{% empty %}
								<div class="text-center col-md-12">
									<img src="{% static 'img/oops.png' %}" alt="{null" style="width: 150px;">
									<h2>No hay registros.</h2>
									<h4>Vaya, no se encontraron registros de tareas creadas.</h4>
								</div>
								<script>$('.search').prop('readonly', true)</script>
							{% endfor %}
							</div>
							<div class="col-md-12 text-center">
								<ul class="pagination"></ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-md-12 content">
						<h3>Usuarios en la actividad</h3>
						<div class="row">
							{% for participant in object.actividad_role_set.all %}
								<div class="col-md-12" id="object-{{ participant.pk }}" style="margin-bottom: 10px;">
									<div class="col-md-3">
										<img src="{% static participant.role.user.profileuser.get_foto %}" class="img-circle" style="width: 50px;">
									</div>
									<div class="col-md-7">
										<p>
											<b>
												<small>{{ participant.role.user.profileuser.get_full_name }}</small>
											</b><br>
											<small>{{ participant.role.role }}</small>
										</p>
									</div>
									{% if request.user.pk|verify_admin_project:project.pk and object.estado.nombre_estado == 'Activo' %}
										<div class="col-md-1">
											<a href="{% url 'delete_user_activity' project.pk project.tag_url object.pk participant.pk %}" class="btn btn-danger delete" id="{{ participant.pk }}">
												<i class="glyphicon glyphicon-remove"></i>
											</a>
										</div>
									{% endif %}
								</div>
							{% empty %}
								<div class="col-md-12 text-center">
									<p>
										<b>No hay usuarios en esta actividad</b>
									</p>
								</div>
							{% endfor %}
							{% if request.user.pk|verify_admin_project:project.pk and object.estado.nombre_estado == 'Activo' %}
								<div class="col-md-12 text-center">
									<a href="{% url 'add_user_activity' project.pk project.tag_url object.pk %}" class="btn btn-success open-modal" data-toggle="modal" data-target="#Modal">Agregar usuario</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block content_script %}
	show_loading('chart_activity');
	google.charts.load('current', {'packages':['gantt']});
	google.charts.setOnLoadCallback(request_ajax);
	function request_ajax(){
		$.ajax({
			url: "/project/{{ project.pk }}/{{ project.tag_url }}/activities/{{ object.pk }}/data-chart/",
			dataType: "json",
			type: 'GET',
			cache: false,
			contentType: false,
			processData: false,
			success: function(response){
				var response_convert = []
				$('#loading').remove();
				$.each(response, function (key, item) {
					if(item.id){
						var val = [item.id, item.name, item.name, new Date(item.year_init, item.month_init, item.day_init), new Date(item.year_end, item.month_end, item.day_end), null, 100, null]
						response_convert.push(val);
					}
				});
				if(response['response'] == 1){
					drawchart(response_convert);
				}else{
					$('#chart_activity').append(
						"<div class='text-center'>"+
							"<h3>Debe de crear más tareas para la visualización del gráfico Gantt.</h3>"+
						"</div>"
					);
				}
			}
		});
	}
	function drawchart(response_convert){
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Task ID');
		data.addColumn('string', 'Task Name');
		data.addColumn('string', 'Resource');
		data.addColumn('date', 'Start Date');
		data.addColumn('date', 'End Date');
		data.addColumn('number', 'Duration');
		data.addColumn('number', 'Percent Complete');
		data.addColumn('string', 'Dependencies');
		data.addRows(response_convert);
		var options = {
			height: data.getNumberOfRows() * 45 + 30,
		};
		var chart = new google.visualization.Gantt(document.getElementById('chart_activity'));
		chart.draw(data, options);
	}
	$(document).on("click", ".change", function(){
		var id = $(this).attr('id');
		var href = $(this).attr('href');
		console.log(href)
		Lobibox.alert('info', {
			title: "Alerta",
			msg: "¿Desea finalizar la tarea seleccionada?",
			buttons:{
				yes: {
					'class': 'btn btn-warning'
				},
				no: {
					'class': 'btn btn-primary'
				}
			},
			callback: function(lobibox, type){
				if(type == 'yes'){
					$.get(href, function(data){
						show_message(data.type, data.msg);
						$('.task-'+id).remove();
						$('#s_task-'+id).append('<span class="label label-primary">Terminado</span>')
					});
				}
				else{
					show_message('success', 'Cancelado por el usuario');
				}
			}
		});
		return false;
	});
	var options = {
		valueNames: ['name'],
		page: 6,
		plugins: [
			ListPagination({})
		]
	};
	var projectList = new List('task-list', options);
{% endblock content_script %}