<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
		</div>
		<form role="form" action="{{ url }}" method="POST">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-md-12">
						<label>{{ form.nombre_proyecto.label }}</label>
						{{ form.nombre_proyecto }}
						{{ form.nombre_proyecto.errors }}
					</div>
					<div class="form-group col-md-12">
						<label>{{ form.tag_url.label }}</label>
						{{ form.tag_url }}
						{{ form.tag_url.errors }}
					</div>
					<div class="form-group col-md-12">
						<label>{{ form.descripcion.label }}</label>
						{{ form.descripcion }}
						{{ form.descripcion.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form.fecha_inicio.label }}</label>
						{{ form.fecha_inicio }}
						{{ form.fecha_inicio.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form.fecha_final.label }}</label>
						{{ form.fecha_final }}
						{{ form.fecha_final.errors }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" value="Enviar" class="btn btn-success"/>
			</div>
		</form>
	</div>
</div>
<script>
	var date = new Date();
	$('.date_init').datetimepicker({
		format: 'YYYY-MM-DD'
	});
	$('.date_end').datetimepicker({
		format: 'YYYY-MM-DD',
		useCurrent: false
	});
	$(".date_init").on("dp.change", function (e) {
		$('.date_init').data("DateTimePicker").minDate(date);
		$('.date_end').data("DateTimePicker").minDate(e.date);
	});
	$(".date_end").on("dp.change", function (e) {
		$('.date_init').data("DateTimePicker").maxDate(e.date);
	});
	$('#id_nombre_proyecto').keyup(function(){
		var string = '';
		$.each($(this).val().split(''), function (key, item) {
			string += item.replace('.', '-').replace(',', '-').replace(' ', '-');
		});
		$('#id_tag_url').val(string.toLowerCase());
	});
	$("form").submit(function(event){
		return check_exist();
	});
	function check_exist(){
		var returnVal = true;
		$.ajaxSetup({async: false});
		$.get('/project/verify-project/'+$('#id_tag_url').val()+'/{{ type_request }}/', function(data){
			if(data.response == 1){
				alert('Ya tienes creado un proyecto con el nombre de '+$('#id_nombre_proyecto').val());
				returnVal = false;
			}
		});
		return returnVal;
	}
</script>