{% extends 'layout/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.datetimepicker.min.css' %}">
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.datetimepicker.min.js' %}"></script>
{% endblock content_head %}

{% block content %}
	<div id="wrapper">
		{% include 'elements/menu_top.html' %}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">{{ title }} <a href="{% url 'new_project' %}" class="btn btn-success open-modal" data-toggle="modal" data-target="#Modal">Crear proyecto</a></h1>
				</div>
			</div>
			<div class="row">
				{% for project in object_list %}
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="{% if project.estado.nombre_estado == 'Activo' %}{% static 'img/folder_active.png' %}{% else %}{% static 'img/folder_inactive.png' %}{% endif %}" alt="{{  project.nombre_proyecto}}" style="width: 100px;" class="text-center">
							<div class="caption">
								<h3>Proyecto {{ project.nombre_proyecto }}</h3>
								<p>{{ project.descripcion }}</p>
								<p>
									<span class="label label-primary"><strong>12</strong> Integrantes</span>
									<span class="label label-warning"><strong>32</strong> Tareas</span>
								</p>
								<div class="text-center">
									{% if project.estado.nombre_estado == 'Activo' %}
										<a href="{% url 'project' project.pk %}" class="btn btn-primary">Ingresar</a>
									{% else %}
										<p class="text-success">Proyecto finalizado</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<nav>
					<ul class="pager">
						{% if page_obj.has_previous %}
							<li class="previous">
								<a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Anterior</a>
							</li>
						{% endif %}
						{% if page_obj.has_next %}
							<li class="next">
								<a href="?page={{ page_obj.next_page_number }}">Siguiente <span aria-hidden="true">&rarr;</span></a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock content %}