{% extends 'layout/base.html' %}

{% load staticfiles %}

{% load project_filters %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
	<script src="{% static 'js/chosen.js' %}"></script>
	<script src="{% static 'js/list.min.js' %}"></script>
	<script src="{% static 'js/list.pagination.min.js' %}"></script>
{% endblock content_head %}

{% block content %}
	<div id="wrapper">
		{% include 'elements/menu_project.html' %}
		<div id="page-wrapper">
			<div class="row">
				<div class="content-head">
					<h1>
						{{ title }}
						{% if request.user.pk|verify_admin_project:project.pk %}
							<a href="{% url 'add_user_project' project.pk project.tag_url %}" class="btn btn-default open-modal" data-toggle="modal" data-target="#Modal" style="float: right;"><i class="glyphicon glyphicon-plus"></i> | Agregar usuario</a>
						{% endif %}
					</h1>
				</div>
			</div>
			{% for message in messages %}
				<div class="row">
					<div class="alert alert-{{ message.tags }} col-md-4 col-md-offset-4">{{ message }}</div>
				</div>
			{% endfor %}
			<div class="row" id="project-list">
				<div class="form-group col-md-6 col-md-offset-3">
					<input type="text" class="search form-control" placeholder="Digite el nombre del rol a buscar">
				</div>
				<div class="list">
					{% for list_role in list_roles %}
						<div class="col-md-4 text-center" id="object-{{ list_role.pk }}">
							<div class="thumbnail content-square">
								<img src="{% static list_role.user.profileuser.get_foto %}" alt="{{  project.nombre_proyecto}}" style="width: 100px;">
								<div class="caption">
									<h3 class="name">{{ list_role.user.profileuser.get_full_name }}</h3>
									<p>{{ list_role.role.nombre_role }}</p>
									{% if request.user.pk|verify_admin_project:project.pk and list_role.user != project.user %}
										<p><a href="{% url 'delete_role_role_from_project' list_role.proyecto.pk list_role.proyecto.tag_url list_role.user.pk %}" class="btn btn-danger delete" id="{{ list_role.pk }}">Eliminar</a></p>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="col-md-12 text-center">
					<ul class="pagination"></ul>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block content_script %}
	var options = {
		valueNames: ['name'],
		page: 6,
		plugins: [
			ListPagination({})
		]
	};
	var projectList = new List('project-list', options);
{% endblock content_script %}