{% extends 'layout/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.datetimepicker.min.css' %}">
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.datetimepicker.min.js' %}"></script>
{% endblock content_head %}

{% block content %}
	<div id="wrapper">
		{% include 'elements/menu_top.html' %}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">{{ title }}</h1>
				</div>
			</div>
			<div class="row">
				{% for message in messages %}
					<p class="alert alert-{{ message.tags }}">{{ message }}</p>
				{% endfor %}
				<form role="form" action="{% url 'new_project' %}" method="POST">
					{% csrf_token %}
					{% for forms in form %}
						<div class="form-group col-md-6">
							<label>{{ forms.label }}</label>
							{{ forms }}
							{{ forms.errors }}
						</div>
					{% endfor %}
					<div class="form-group col-md-12 text-center">
						<button type="submit" class="btn btn-success">Crear</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block content_script %}
	$('.date_init').datetimepicker({
		format: 'DD/MM/YYYY'
	});
	$('.date_end').datetimepicker({
		format: 'DD/MM/YYYY',
		useCurrent: false
	});
	$(".date_init").on("dp.change", function (e) {
		$('.date_end').data("DateTimePicker").minDate(e.date);
	});
	$(".date_end").on("dp.change", function (e) {
		$('.date_init').data("DateTimePicker").maxDate(e.date);
	});
{% endblock content_script %}