red_color = #FF8C5B
blue_color = #3498db
esmerald_color = #2ecc71
nephritis_color = #27ae60
mid_blue = #2c3e50
wet_blue = #34495e
belizie_blue = #2980b9
peter_blue = #3498db

box_shadow(args)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

body
	background-color mid_blue

.errorlist
	color red_color
	list-style none
	margin-bottom -1px
	position absolute
	margin-top -3px
	margin-left -20px

.panel-default
	.panel-heading
		background-color blue_color
		color white

.login-panel
	margin-top 20%

.page-task
	position relative
	margin auto
	padding 15px
	color #212121
	-webkit-border-bottom-left-radius 20px 500px
	-webkit-border-bottom-right-radius 500px 30px
	-webkit-border-top-right-radius 5px 100px
	-moz-border-radius-bottomleft 20px 500px
	-moz-border-radius-bottomright 500px 30px
	-moz-border-radius-topright 5px 100px
	border-radius-bottomleft 20px 500px
	border-radius-bottomright 500px 30px
	border-radius-topright 5px 100px
	background #fcf59b
	background -webkit-gradient(linear, left top, left bottom, from(#81cbbc), color-stop(2%, #fcf59b))
	background -moz-repeating-linear-gradient(top, #fcf59b, #fcf59b 38px, #81cbbc 40px)
	background repeating-linear-gradient(top, #fcf59b, #fcf59b 38px, #81cbbc 40px)
	-webkit-background-size 100% 40px
	box_shadow(0 2px 5px 1px rgba(0,0,0,.2))

.navbar-green
	background-color peter_blue
	border-style none
	color white

.navbar-header
	background-color belizie_blue
	width 250px

li.dropdown
	a
		&:hover
		&:active
		&:focus
			background-color belizie_blue !important
			color white !important

.nav
.open
	> a
		background-color belizie_blue !important
		color white !important

.color-white
	color white !important
	&:hover
	&:active
	&:focus
		color white !important

.color-ca
	color #cacaca !important
	&:hover
	&:active
	&:focus
		color white !important

.sidebar
	ul
		li
			border-style none
			a
				&:hover
				&:active
				&:focus
					background-color wet_blue
			a.active
				background-color wet_blue

#page-wrapper
	background-color #f5f5f5

.content-head
	background-color white
	margin-left -15px
	margin-right -15px
	padding 5px 20px
	margin-bottom 20px

.content
	background-color white
	padding 15px

.title-menu
	color #cacaca
	padding 10px 10px

.state
	margin-bottom -20px
	color white