red_color = #FF8C5B
blue_color = #3498db

.errorlist
	color red_color
	list-style none
	margin-bottom -1px
	position absolute
	margin-top -3px
	margin-left -20px

.panel-default
	.panel-heading
		background-color blue_color
		color white